.images-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.image-item {
    margin: 10px;
    text-align: center;
}

.image-item img {
    max-width: 100%;
    height: auto;
}
